<!DOCTYPE html>
<html lang="en">
<head>
    <title>TEDD Tutoring</title>
    <style>
    body {
      background-size:cover;
      font-family: Lato;
      color: antiquewhite;
      margin-top:50px;
    }
            h1   {color: blue;}
            p    {color: blueviolet;}
    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed">

        <a class="navbar-brand" href="{{ url_for("explore") }}">ScheduleTable</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for("index") }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for("mainpage") }}">Schedule</a>
            </li>
            <li class="nav-item">
                {% if current_user.is_admin %}
              <a class="nav-link" href="/admin">TutorsOnly</a>
                {% else %}
          {% endif %}
            </li>
          </ul>
            <a class="navbar-brand" name="loggout" href="{{ url_for("logout") }}">Logout</a>
            <a class="navbar-brand" name="loggout" href="{{ url_for("delete") }}">DeleteAccount</a>
          <!--form class="form-inline my-2 my-lg-0" method="get" action="">
            <input class="form-control mr-sm-2" type="search" placeholder="Search for Classes or Tutors" aria-label="Search" name="query">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form-->
        </div>
      </nav>
 {% block content %}
 {% endblock %}
</body>
</html>