<!doctype html>
<html lang="en">
  <head>
    <title>TEDD Tutoring</title>
    <style>
    body {
      background-image: url("https://images.unsplash.com/photo-1546410531-bb4caa6b424d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
      background-size: cover;
      font-family: Lato;
      color: antiquewhite;
      margin-top:50px;
    }
            h1   {color: blue;}
            p    {color: blueviolet;}
    </style> 
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>
      <!-- NavBar Start -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed">
          {% if current_user.is_authenticated  %}

        <a class="navbar-brand" href="{{ url_for("explore") }}">ScheduleTable</a>
        <!--button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button-->

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" href="{{ url_for("index") }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for("mainpage") }}">Schedule</a>
            </li>
            <li class="nav-item">
            {% if current_user.is_admin  %}
              <a class="nav-link" href="/admin">TutorsOnly</a>
            </li>
                {% else %}
                  {% endif %}
          </ul>
            <a class="navbar-brand" name="loggout" href="{{ url_for("logout") }}">Logout</a>
            <a class="navbar-brand" name="loggout" href="{{ url_for("delete") }}">DeleteAccount</a>
          <!--form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search for Classes or Tutors" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form-->
        </div>
{% else %}
          {% endif %}
      </nav>
      <!-- Grid -->
      <div class="container">
        <div class="row row-cols-3">
        <div class="col"> </div>
        <div class="col">c</div>
        <div class="col"> </div>
        <div class="col-sm-1"></div>
        <div class="col-lg-10">
            <!-- Jumbotron -->
            <div class="jumbotron">
              <h1 class="display-6">WELCOME TO TEDD TUTORING!</h1>
              <h1 class="display-5">Sign in as:</h1>
              <p></p>
              <p>STUDENT:</p>
 {% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
		  <div class="alert alert-warning alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			{{message}}
		  </div>
		{% endfor %}
	  {% endif %}
	{% endwith %}
              <form action="{{ url_for("signedin") }}" method="post">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="form-group">
                    <label for="exampleInputEmail1">Student Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  placeholder="Enter Email" name="studentemail">
                    <!--<div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">save username</label>
                </div>-->
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="studentpassword" >
                    <small id="passwordHelp" class="form-text text-muted">Your password is encrypted and protected</small>
                 </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" name="chk" >
                    <label class="form-check-label" for="exampleCheck1">Remember me</label>
                </div>
                <p>   </p>
                <p>   </p>
                    <button type="submit" name="btt" class="btn btn-primary">Sign in</button>
              </form>
              <p></p>
              <p></p>
              <p>Are you a new Sudent? Sign up: <a class="btn btn-primary" name="ss" href="{{ url_for("signup") }}" role="button"> Sign up</a></p>
              <!--p></p>
              <p></p>
              <hr class="my-4">
              <p>TUTOR:</p>
              <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
                    <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">save username</label>
                </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    <small id="passwordHelp" class="form-text text-muted">Your password is encrypted and protected</small>
                 </div>
                <p>   </p>
                <p>   </p>
                    <button type="submit" class="btn btn-primary">Sign in</button>
              </form>
              <p></p>
              <p></p>
              <p>Are you a new Tutor? Please Register: <a class="btn btn-primary" href="#" role="button"> Register</a></p>
              <p></p>
              <p></p>
            </div>
        </div>
        <div class="col col-sm-1"></div>
        </div>
      </div-->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            </div></body>
</html>
